@(form: Form[controllers.SBOMFormDataExtra])(implicit request: MessagesRequestHeader)

@main("SBOM Augmentor") {
<div class="upload-page">
    <div class="upload-card">
        <h1>SBOM Augmentor</h1>
        <p>
            Upload your Python project, manifest, or existing SBOM file to generate a more precise and complete software bill of materials.
        </p>

        @helper.form(action = routes.MainController.upload, Symbol("enctype") -> "multipart/form-data") {

        <div class="form-section">
            <div class="nice-form-group">
                @helper.inputFile(
                form("inputProject"),
                Symbol("_label") -> "Zipped Python project"
                )
            </div>

            <div class="nice-form-group">
                @helper.inputFile(
                form("inputManifest"),
                Symbol("_label") -> "Python manifest file (optional)"
                )
            </div>

            <div class="nice-form-group">
                @helper.inputFile(
                form("inputSBOM"),
                Symbol("_label") -> "SBOM file (optional)"
                )
            </div>

            <div class="nice-form-group">
                @helper.checkbox(form("includeStandardLibraries"), Symbol("_label") -> "Include standard libraries (optional)", Symbol("_text") -> "", Symbol("_help") -> "")
            </div>

            <div class="nice-form-group">
                @helper.inputText(
                form("pythonVersion"),
                Symbol("_label") -> "Python version (optional)"
                )
            </div>

            @helper.CSRF.formField

            <div class="submit-container">
                <input
                        type="submit"
                        id="upload"
                        value="Generate SBOM"
                        class="submit-button"
                />
            </div>

        </div>
        }
    </div>
</div>

<div class="logo-banner">
    <div class="logo-container">
        <div class="logo-item">
            <a href="https://cra-cy.eu/"><img src="/assets/images/cracy_logo.png" alt="CRACY"></a>
        </div>
        <div class="logo-item">
            <a href="https://cybersecurity-centre.europa.eu/index_en"><img src="/assets/images/eccc-logo.png" alt="ECCC"></a>
        </div>
        <div class="logo-item">
            <a href="https://european-union.europa.eu"><img src="/assets/images/EU_cofunding.png" alt="Co-funded by the EU"></a>
        </div>
    </div>
</div>

}